@import url('https: //fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

/* CSS variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
nav{
    height:12 vh;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.active_nav {
    background-color: #1f283b;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
    
}

#navbar::before {
    content: "";
    /* background-color: black; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
/* .bg-color.scrolled{
    background-color: #1f283b;
} */


/* Navigation Bar : Logo and Image */
#logo {
    margin: 12px 35px;
    display: inline-block;
    margin-right: auto;
}

#logo img {
    height: 67px;
    /* margin: 3px 6px; */
}

/* Navigation Bar : List Styling */
.nav_links {
    display: flex;
    margin-right: 83px;
    font-family: 'Poppins', sans-serif;
}

.nav_links li {
    list-style: none;
    font-size: 1.1rem;
}

.nav_links li a {
    color: white;
    list-style: none;
    padding: 3px 17px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    background-color: rgb(231 78 78);
    color: #1f283b;
}

/* Home Section */
#Home {
    display: flex;
    flex-direction: column;
    /* font-family: 'Bree Serif', serif; */
    padding: 3px 20px;
    height: 650px;
    justify-content: center;
    align-items: flex-start;   
}

#Home::before {
    content: "";
    position: absolute;
    background: url('../images/bg-home.jpg')no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#msg h1 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 40px;
    /* padding-top: 150px 0px 0px 20px; */
}

button {
    width: 25%;
    padding: 10px 0;
    background-color: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid rgb(231 78 78);
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.5s;
}

button:hover {
    background: rgb(231 78 78);

}

/* #Home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#Home p{
    color: white;
    text-align: center;
    font-size:1.3rem;
    font-family: 'Bree Serif', serif;
} */
/* services Section */

.container {
    width: 100%;
    min-height: 86vh;
    font-family: 'Poppins', sans-serif;
}

.container h2 {
    margin-top: 50px;
    color: #1f283b;
    font-size: 3.3rem;
    padding: 50px 0;
    text-align: center;

}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 25px;
    
}

.price-col {
    background-color: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.price-col p {
    font-size: 22px;
}

.price-col h3 {
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col h3 span {
    font-size: 16px;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.price-col ul li {
    margin: 15px 0;
}

.price-col ul li::before {
    content: '\2022';
    color: rgb(231 78 78);
    font-weight: bold;
    margin-right: 8px;
}

.price-col button {
    width: 100%;
    padding: 14px 0;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid rgb(231 78 78);
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover {
    background: rgb(231 78 78);

}


/* pricings Section */

#pricing-section {
    position: relative;
    color: #1f283b;
    font-family: 'Poppins', sans-serif;
}
.container-about{
    display: block;
    margin: auto;
    width: 75%;
    text-align: center;
}

#pricing-section p{
    margin: 0px 50px;
}
/* .about{
    margin: 50px;
} */





/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Poppins', sans-serif;
    font-size: 3.3rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 12px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.center {
    text-align: center;
}
.white{
    color: #fff;
}